.workers {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	font-family: Poppins, sans-serif;
	overflow: hidden;
}

.workers-alert {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -80px;
	width: 100%;
	height: 80px;
	font-family: Poppins, sans-serif;
	background-color: #23CE65;
	font-size: 24px;
	font-weight: bold;
	transition: 3s ease;
}
  
@keyframes slideIn {
	0% {
		bottom: -80px;
	}
	20%{
		bottom: 0px;
	}
	80%{
		bottom: 0px;
	}
	100% {
		bottom: -80px;
	}
}

.workers-alert.show {
	animation: slideIn 3s ease forwards;
}

.workers-main {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	overflow: auto;
	padding-right: 450px;
}

.workers-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	height: 100%;
}

.card-board {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 300px;
	background-color: #222222;
	border-radius: 10px;
	margin: 20px;
	border: 3px solid #222222;
	overflow: hidden;
	transition: transform 0.3s ease;
}

.card-board.edit:hover {
	transform: scale(1.005);
	cursor: pointer;
  }

.worker-avatar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 35%;
	background-color: #333;
	padding: 15px 0;
}

.status-box{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 20px;
	background-color: #23CE65;
	font-size: 12px;
	font-weight: bold;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

.worker-avatar p{
	margin: 0;
	margin-top: 10px;
	font-weight: bold;
}

.worker-items {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 65%;
	background-color: #555;
	font-weight: bold;
}

.img-box{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	height: 140px;
	border: 3px solid #222;
}

.img-box img{
	width: 100%;
	height: 100%;
}

.img-box svg{
	width: 75%;
	height: 75%;
}

.avatar-text{
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 20%;
	background-color: #111;
	border-radius: 5px;
}

.avatar-text p{
	margin: 0;
	color: white;
	font-size: 14px;
	font-family: Poppins, sans-serif;
}

.circle svg{
	width: 40px;
	height: 40px;
}

.item-option{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-top: 3px solid #222;
}

.item-option-name{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-option-value{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.delete-option{
	bottom: 5px;
	width: 100%;
	height: 40px;
	background-color: tomato;
	cursor: pointer;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	display: none;
	color: white;
	font-size: 18px;
	border-top: 3px solid #222;
	font-family: Poppins, sans-serif;
}