.card-board {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 300px;
	background-color: #222222;
	border-radius: 10px;
	margin: 20px;
	border: 3px solid #222222;
	overflow: hidden;
	transition: transform 0.3s ease;
}

.card-board.edit:hover {
	transform: scale(1.005);
	cursor: pointer;
  }

.worker-avatar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 35%;
	background-color: #333;
	padding: 15px 0;
}

.status-box{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 20px;
	background-color: #23CE65;
	font-size: 12px;
	font-weight: bold;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

.worker-avatar p{
	margin: 0;
	margin-top: 10px;
	font-weight: bold;
}

.worker-items {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 65%;
	background-color: #555;
	font-weight: bold;
}

.circle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	width: 75px;
	height: 75px;
	border: 3px solid white;
	border-radius: 50%;
}

.circle svg{
	width: 40px;
	height: 40px;
}

.item-option{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-top: 3px solid #222;
}

.item-option-name{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-option-value{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.delete-option{
	bottom: 5px;
	width: 100%;
	height: 40px;
	background-color: tomato;
	cursor: pointer;
	font-weight: bold;
	border: none;
	text-transform: uppercase;
	display: none;
	color: white;
	font-size: 18px;
	border-top: 3px solid #222;
	font-family: Poppins, sans-serif;
}